.form-contacts 
    .form-contacts__title 
    input.form-contacts__input(type="text" name="name" placeholder="Представьтесь, пожалуйста")
    input.form-contacts__input(type="email" name="email" placeholder="Ваш email")
    input.form-contacts__input(type="tel" name="phone" placeholder="Ваш телефон")
    textarea.form-contacts__textarea(name="text" cols="30" rows="10" placeholder="Расскажите немного о Вашем проекте")
    label.form-contacts__file(for="file")
        span Прикрепить файл
        input(id="file" type="file" name="file" value="Прикрепить файл" hidden)
    button.form-contacts__button Отправить