.about
    height 65vh
    overflow-y auto
    padding-top ph(50)
    &__title
        font-size clamp(15px,36/1024*100vw,36px)
        font-weight bold
        margin ph(60) 0 ph(54)


    &__control
        cursor pointer
        font-size 30px
        font-weight 100

    &__slider
        display flex
        align-items center
        width 50%
        margin-bottom ph(48)
        margin-left pw(14)

        @media (max-width 768px)
            width 98%
            margin 0 auto

        & .splide
            overflow-x auto

        & .splide__slide
            transition font-size .5s
            font-size 1rem
            color:#fff7
            height 50px
            display grid
            place-items center
            pointer-events none
            font-size calc(var(--index) * 1)

            &.is-active
                pointer-events auto
                transform-origin center
                color: #fff
                cursor pointer
                font-size calc(var(--index) * 1.8)
            &.is-prev, &.is-next
                pointer-events auto
                font-size calc(var(--index) * 1.5)
                // font-size 25px
                color:#fffa
                cursor pointer

    &__tizer
        display grid
        grid-auto-flow column
        @media (max-width 768px)
            grid-auto-flow row
            grid-template-columns repeat(2,1fr)
            row-gap ph(75)

    &__relative
        h 


