mixin relative-record(data)
    .relative-record
        .relative-record__icon 
            img(src= data.img, alt="icon")
        .relative-record__source= data.source
        .relative-record__top= data.top
        .relative-record__nomination= data.nomination