.relative-record
    display: grid;
    grid-template-columns: 50px 190px .8fr 4fr;
    align-items: center;
    justify-content: start;
    column-gap: 36px;
    border-bottom: 1px solid rgba(229,229,229,.14);
    padding-bottom: 13px;