mixin relative-record(data)
    .relative-record
        .relative-record__icon 
            img(src= data.img, alt="icon")
        .relative-record__source= data.source
        .relative-record__top
            span= data.top
            img.relative-record__chevron(src="../../../assets/images/icons/black/chevron.svg")
        .relative-record__nomination= data.nomination