.relative-record
    --time: .4s
    display: grid;
    grid-template-columns: 50px 190px .8fr 4fr;
    align-items: center;
    justify-content: start;
    column-gap: 36px;
    border-bottom: 1px solid rgba(229,229,229,.14);
    padding-bottom: 13px;
    transition var(--time)
    @media (max-width 768px)
        grid-template-columns 50px 190px 1fr
        grid-template-rows auto 0

        & .relative-record__nomination
            grid-column 2 / -1

    &__nomination
        scale 1 0
        transition transform var(--time)

    &__chevron 
        rotate 0
        transition transform var(--time)

    &__top
        display flex
        align-items center
        column-gap pw(30)

        & > img
            display none
            @media (max-width 768px)
                display block

    &.show 
        grid-template-rows auto 40px
        & > .relative-record__nomination
            scale 1 1
        & .relative-record__chevron
            rotate 180deg
