.contacts
    display grid
    grid-template-columns 2fr 1fr 1fr
    font-size clamp(12px,20/768*100vw,20px)

    &__list
        list-style none

    &__li:not(:last-child)
        margin-bottom ph(60)