.contacts
    display grid
    grid-template-columns 2fr 1fr 1fr
    font-size clamp(12px,20/768*100vw,20px)

    &__list
        list-style none
        @media (max-width 950px)
            display flex
            flex-wrap wrap
            column-gap 10px


    &__li:not(:last-child)
        margin-bottom ph(60)

    @media (max-width 1530px)
        overflow-y auto
        grid-template-columns 1fr 1fr
        &__map
            grid-column 1 / -1
            & > img
                width 100%
                display block
                margin 0 auto
    @media (max-width 950px)
        &__data
            grid-column 1 / -1
        &__form
            grid-column 1 / -1