.panel
    border-radius 20px
    background #E5E5E57f
    backdrop-filter blur(4px)
    padding 4vmin
    font-size 1rem
    user-select none

    &__slider
        display flex
        align-items center

        & > .splide 
            width 100%