.reviews

    &__work 
        display flex
        align-items center

    &__control
        font-size 40px
        cursor pointer
        user-select none

    &__slider
        width 100%

    & .splide__slide
        scale 1 1
        transition transform 1s
        &:not(.is-active)
            scale 0.8 0.8