.star
    width 32px
    height 32px
    &[data-type="white"]
        background url("../../../assets/images/star.png") no-repeat
    &[data-type="black"]
        background url("../../../assets/images/star-black.png") no-repeat