.main-header 
    .main-header__logo.logo 
        include ../../assets/svg/logo.svg
    nav.main-header__navbar.navbar.switcher 
        each i in pages 
            a.navbar__item(data-id= i.id, data-name= i.name)= i.menu
    .main-header__tel= common.phones.data[0]