.main-header 
    .main-header__logo.logo 
        img(src="../../../assets/svg/logo.svg" alt="logo")
    nav.main-header__navbar.navbar.switcher 
        each i, idx in pages 
            - const active = idx === 0
            a.navbar__item(data-id= i.id, data-name= i.name, data-active= active)= i.menu
    .main-header__right
        .main-header__burger
            img(src="../../../assets/svg/burger.svg" alt="burger")
        a.main-header__tel(href="tel:/"+common.phones.data[0])= common.phones.data[0]