.tizer-item
    display flex
    flex-direction column
    align-items center
    row-gap 50px
    &__number
        font-size clamp(25px,100/1024*100vw,100px)
        font-weight bold
        color #C3D0DF

    &__title
        font-size clamp(11px,24/1024*100vw,24px)