.icon-row
    display flex
    align-items flex-start
    column-gap pw(23)

    &__icon
        width 30px
        & > img 
            width 100%

    &  a 
        display block
        color: #fff
        text-decoration none

    & p
     margin 0
     padding 0