.bigmenu
  position absolute
  display: flex
  column-gap: 99px
  width: fit-content
  left: (1000/1920)*100%
  top: (596/1087)*100vh
  flex-wrap wrap
  row-gap 1.5vh

a.bigmenu-item
    color #fff
    text-transform uppercase
    text-align left
    width min-content
    font-size 3vh
    line-height 1.5
    position relative
    width 150px
    &::before
        content attr(data-number)
        position absolute
        color #ffffff55
        top 0
        left 0%
        translate -100% -100%
        font-weight 800
        font-size 2vh