.bigmenu
  position absolute
  display: flex
  column-gap: 99px
  width: min-content
  left: (1030/1920)*100%
  top: (596/1087)*100vh

a.bigmenu-item
    color #fff
    text-transform uppercase
    text-align left
    width min-content
    font-size 30px
    line-height 1.5
    position relative
    width 150px
    &::before
        content attr(data-number)
        position absolute
        color #ffffff55
        bottom 100%
        right 100%
        font-weight 800
        font-size 20px