
after() 
    content ''
    position absolute
    left 0
    top 120%
    height 2px
    width 50%
    background #7A0404
    transition width 0.5s

pw(x)
    (x/1920)*100vw

ph(x)
    (x/1010)*100vh
    
transopacity()
    opacity 0
    transition opacity .6s
    &.show
        opacity 1
        z-index 2


