coords(x,y)
    transform scale(1,1) translateX(x) translateY(y)
    opacity 1
    z-index 11

.projects
    display grid
    grid-template-columns repeat(6,13%)
    grid-template-rows repeat(5,13%)
    gap 4%
    position absolute
    width 90%
    top 22vh
    bottom 0

    &__panel
        border-radius 20px
        background #E5E5E57f
        backdrop-filter blur(4px)
        padding 4vmin
        font-size 1rem
        user-select none
        position absolute
        opacity 0
        // scale 0 0
        // translate 0% 0%
        transform scale(0,0) translate(0,0)
        z-index -1
        transition .6s .6s
        transform-origin 0 0
        will-change transfom
        // max-width 200%

    &__item
        --time-shift 0ms
        --time-duration 1s
        perspective 500px
        user-select none
        position relative
        z-index 1

        &.main 
            font-size 30px
        &.light 
            font-size 20px
        &.lighter 
            font-size 10px

        &::before
            content ""
            position absolute
            width 25px
            height 25px
            background #e51
            border-radius 50%
            left -40px
            animation wave var(--time-duration) var(--time-shift) infinite

        &:hover
            z-index 2

        for j in (0..4)
            for i in (1..6)
                &:nth-child({j * 6 + i}):hover  > ^[0]__panel
                    coords((i - 1) * -20%, j * -20%)

    &__name
        width fit-content
        transform-origin 50% 50%
        white-space nowrap
        cursor pointer
        animation wave var(--time-duration) var(--time-shift) infinite


@keyframes wave 
    0%
        opacity .5
        rotate 0 1 0  0deg 
    50%
        opacity 1
        rotate 0 1 0  7deg 
    100%
        rotate 0 1 0  0deg 
        opacity .5







            


    
            
