@import "../../../stylus/variables"
.services
    display flex
    flex-direction column
    justify-content space-evenly
    position absolute
    top 22vh
    width 90%
    bottom 0



    &__up-slider, &__down-slider
        display flex
        align-items center
        width 95%
    
        & .splide
            width 100%

    &__control
        cursor pointer
        font-size calc(var(--index) * 1.2)

    &__item
        display grid
        place-items center
        row-gap ph(24)
        

        & > *
            text-align center
        & > p
            padding 0
            margin 0
        & > img 
            display block
            aspect-ratio 1
            width calc(var(--index) * 3)

    &__item-name
        font-weight bold
        font-size clamp(11px,24/1024*100vw,24px)

    &__item-caption
        font-weight 100
        font-size clamp(11px,24/1024*100vw,24px)
        line-height 1.2

    &__title
        font-weight 700
        font-size clamp(11px,36/1024*100vw,36px)
        color #C3D0DF
        margin-bottom ph(28)
