.price
    &__main
        display grid
        grid-template-columns repeat(2,49%)
        column-gap 1%

    &__platforms
        display flex
        flex-direction column
        row-gap: ph(40)

        