.price-details
    display grid
    grid-template-columns 66% 33%
    column-gap 1%

    &__certificates
        position relative


    &__platform-certificates
        position absolute
        inset 0
        transopacity()

        & img
            width 100%

        & .splide__pagination 
            bottom -1.5em
        